body {
        margin: 0;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        display: flex;
        height: 100vh;
      }

      .sidebar {
        background-color:#FF6600;
        color: white;
        width: 20%;
        padding: 2rem;
        display: flex;
        flex-direction: column;
      
      }

      .sidebar img {
        width: 100%;
        max-height: 300px;
        object-fit: cover;
        
      }

      .form-container {
        display: flex;
        background-color: #ff66002c;
        width: 100%;
        padding: 2rem 3rem;
        align-items: center;
       justify-content: center;
       
      
        
      }

      h1 {
        color: #3e3e3e;
        margin-bottom: 1rem;
      }
       h3 {
        color: #3e3e3e;
        margin-bottom: 2rem;
        font-size: 1.27rem;
      }

      label {
        display: block;
        margin-top: 1rem;
        font-weight: 500;
      }

      input,
      textarea,
      select {
        width: 90%;
        padding: 0.5rem;
        border-radius: 8px;
        border: 1px solid  #ff66002c;
        margin-top: 0.3rem;
        background-color: #fcaa743b
      }

      .button-container {
        margin-top: 2rem;
        display: flex;
        justify-content: flex-end;
      }

      button {
        background-color: #FF6600;
        color: white;
        padding: 0.75rem 1.5rem;
        border: none;
        border-radius: 8px;
        font-size: 1rem;
        cursor: pointer;
      }

      button:hover {
        background-color: #af4600;
      }

      .config-div{
        display: flex;
         align-items: center;
         justify-content: center;
         gap: 10px;

      }

      .metade{
        width: 50%;
        
      }

   form{
        align-items: center;
        justify-content: center;
        width: 85%;
      }

      .pag{
      background-color:  #ffffff;
      padding: 0.75rem 1.5rem;
      border: none;
      border-radius: 8px;
      margin-top: 4rem;
      
      cursor: pointer;
      
      }
      .link{
        text-decoration: none;
        color: #FF6600;
        font-size: 1.2rem;
      }
      
      .pagnor{
      background-color:  #FF6600;
      padding: 0.75rem 1.5rem;
      border: none;
      border-radius: 8px;
      margin-top: 4rem;
      
      cursor: pointer;
      
      }
      .linknor{
        text-decoration: none;
        color: #ffffff;
        font-size: 1.2rem;
      }

      .qrbody {
            padding: 10px;
            font-size: 16px;
             text-align: center;
             align-items: center;
             width: 100%;
             justify-content: center;
             display: flex;
             flex-direction: column;
             padding: 2rem 3rem;
        }
        .gerarqr{
          margin-top: 1rem;

        }